<% post = @post%>
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if post.id? %>
    <%= tag.input type: 'hidden', name: 'post_id', value: post.id, id: 'post-id' %>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :main_image %>
    <%= form.file_field :main_image %>
  </div>

  <% if post.main_image.attached? %>
    <p>
      <%= link_to 'Remove Main Image', "#{destroy_attachment_path(post.main_image.id)}?post_id=#{post.id}", method: 'delete', data: { confirm: 'Delete the main image attachment?' } %>
    </p>

    <div>Current main image: </div>
    <%= image_tag post.main_image.variant(resize: '200x200') %>
    <%= tag.input type: 'hidden', name: 'post[main_image]', value: post.main_image.blob.signed_id %>
  <% end %>

  <% post.other_images.each do |other| %>
    <%= tag.input type: 'hidden', name: 'post[other_images][]', value: other.blob.signed_id %>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>